Repository mpannala12/PlasmaPy, pull requests merged in 2021-12, with the labels that each got.

#4 Braginskiiwarning
  plasmapy/utils/decorators/validators.py
Labels: Utilities

#3 Suppress warnings in two files
  plasmapy/analysis/tests/test_fit_functions.py
  plasmapy/particles/particle_class.py
Labels: Particles

#2 fix warnings in test_plasmablob.py
  plasmapy/plasma/sources/tests/test_plasmablob.py
Labels: Plasma class

#6 Fix test_langmuir.py file warnings
  plasmapy/diagnostics/tests/test_langmuir.py
Labels: Diagnostics

#8 Fixing warnings in test_parameters.py
  plasmapy/formulary/tests/test_parameters.py
Labels: Formulary

#7 fixed warnings for parameters.py
  plasmapy/formulary/parameters.py
Labels: Formulary

#9 fixed braginskii and collisions
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/utils/decorators/validators.py
Labels: Utilities, Formulary

#10 Addressed comments made to our pull request
  plasmapy/formulary/parameters.py
  plasmapy/particles/particle_class.py
  plasmapy/utils/decorators/validators.py
Labels: Utilities, Particles, Formulary
